
.error{ 
    display: none;
}
.breed-select{
    margin: 100 auto 0 auto;
    max-width: 450px;
}
.cat-info{ 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.js-some{ 
    margin-left: 50px;
}
.text{ 
    max-width: 300px;

}
body{ 
 background-color: #8BC6EC;
background-image: linear-gradient(175deg, #8BC6EC 0%, #9599E2 100%);
}